$outerBorderColor: #f3f3f3;
$cardWidth: 200px;
$cardHeight: 403px;
$contentWidth: $cardWidth * 4 + 48px * 3;
$contentHeight: $cardHeight * 2 + 50px;
$main-color: #fff;
$element-color: #00acdc;
$main-font: "Roboto", sans-serif;
