$outerBorderColor: #f3f3f3;
$cardWidth: 200px;
$cardHeight: 403px;
$rowGap: 50px;
$columnGap: 48px;
$contentWidth: $cardWidth * 4 + $columnGap * 3;
$main-color: #fff;
$element-color: #00acdc;
$main-font: "Roboto", sans-serif;
