@import "_variables";
@import "_mixin";
@import "_reset";
@import "header";
@import "product-card";
@import "stars";

html {
  font-family: $main-font;
  font-size: 12px;
  line-height: 60px;
}

.main {
  margin: 50px auto 78px;
  width: $contentWidth;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: $contentWidth;
  height: $contentHeight;

  &__row {
    display: flex;
    justify-content: space-between;

    height: $cardHeight;
  }
}
