$main-color: #fff;
$element-color: #00acdc;
$main-font: "Roboto", sans-serif;

@import "header";
@import "product-card";
@import "stars";

html {
  font-family: $main-font;
  font-size: 12px;
  line-height: 60px;
}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

.main {
  margin: 50px auto 78px;
  width: $contentWidth;
}
