.stars {
  display: flex;

  &__item {
    background-image: url(/images/star.svg);
    background-repeat: no-repeat;
    background-position: center;

    height: 15px;
    width: 15px;

    margin-right: 4px;
  }

  @for $i from 1 to 5 {
    &--#{$i} :nth-child(-n+#{$i}) {
      background-image: url(/images/star-active.svg);
    }
}
}